@use 'globals/index';

/* nav */
.header {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: auto;
  background: index.lib-$colr-black;
  padding:1.2em 0;
  width: 100%;
  z-index: 20;

  &__content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    width: min(90%, 1444px);

  }

  &__logo {
    font-size: 1.8em;
  }

  &__nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  &__nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }

  &__sign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  }

  .mobile__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:.5em 0;
    background: #222222;
  }

  /* hero */
  .hero {
    padding: 7em 2em;
    background: #000000;

    &__content {
      text-align: center;
      color: #FFFFFF;
      width: min(100%, 1000px);
      margin-inline: auto;

    }

    & h1 {
      font-size: 4.875em;
    }

    & span {
      font-size: 72px;
      background: linear-gradient(90deg, #dec880, #fff 27%, #ff3980 57%, #827ded 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & p {
      font-size: 1.125em;
      padding-top: 10px;
      margin-bottom: 10px;
      // max-width: 670px;
      // margin-inline:auto;
      color: lightgrey;
      letter-spacing: 1px;
      font-family: 'Open Sans', sans-serif;
      line-height: 24px;
    }

    &__content-btns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      margin-top:4em;    
    }

    &__content-btn2 {
      @include index.b-btn($clr: #FFFFFF, $bg: #000000);
      // background-image: linear-gradient(90deg, #dec880, #fff 19%, #ff347d 51%, #827ded);
    }

    &__content-dashboard {
      position: relative;
      width: min(100%, 1600px);
      margin-inline: auto;
      padding: 4em;
      margin-top: 2em;
    }

    &__content-img1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      border-radius: 7px;
    }
    &__content-img2 {
      width: 100%;
      border-radius: 7px;
    }
    &__content-img3 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40%;
      border-radius: 7px;
    }

    &__content-icons {
      margin-top: 3em;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1em;
      // border:2px solid lightgrey;
    }

    &__content-icon {
      padding: 1em;
      // border:2px solid dodgerblue;
    }
  }

  /* layers */
  .layers {
    text-align: center;
    padding:4em;
    background: #000000;
  }

  .layers__title {
    // background: #;

    & h1 {
      font-size: 3.1em;
    }

    & p {
      padding-top: .5em;
      font-size: 1.2em;
    }
  }

  .layers__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: min(90%, 1444px);
    margin-inline: auto;
    text-align: left;
    margin-top: 8em;
  }

  .layers__content-left {
    // background: red;
    text-align: left;
    width: 50%;

    h2 {
      font-size: 2.5em;
      margin:.5em 0 .5em 0;
    }

    p {
      font-size: 1.2em;
    }
  }

  .layers__content-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4em;

    ul {
      padding-left: 0;
    }

    img {
      width: 24px;
    }
  }

  .layers__content-split {
    display: flex;
    padding: .5em 0;
  }

  .layers__content-right {
    width: 50%;

    & img {
      width: 100%;
    }
  }

  /* Platform */

  .platform {
    text-align: center;
    padding:4em;
    background: #000000;

    &__title {
      // border: 2px solid lime;

      h2 {
        font-size: 3.1em;
      }
  
      p {
        padding-top: .5em;
        font-size: 1.2em;
      }
    }
  }

  .platform__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: min(90%, 1444px);
    margin-inline: auto;
    text-align: left;
    margin-top: 8em;
    // border: 2px solid purple;
  }

  .platform__content-left {
    text-align: left;
    width: 40%;
    // border: 2px solid red;

    h2 {
      font-size: 2.5em;
      margin:.5em 0 .5em 0;
    }

    p {
      font-size: 1.2em;
    }
  }

  .platform__content-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4em;

    ul {
      padding-left: 0;
    }

    img {
      width: 24px;
    }
  }

  .platform__content-split {
    display: flex;
    padding: .5em 0;
  }


  .platform__content-right {
    // position: relative;
    width: 60%;
    // overflow:hidden;

    & img {
      // position: absolute;
      bottom: 0;
      display: inline-block;
      border-radius: 21px;
      max-width: 100%;
      vertical-align: middle;
      object-fit: cover;
      // overflow:hidden;

    }

    &-image__01 {
      z-index: 2;
      margin-top: -31px;
    }

    &-image__02 {
      z-index: 1;
    }

    &-image__03 {
      bottom: 0%;
      z-index: 0;
    }
  }

  .images {
    @include index.r-img($width: 600px, $height: 300px);
  }