// $colr-black: #000000;
// $colr-white: #FFFFFF;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background:lightgrey;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

@mixin img($width: 100%, $height: auto) {
  display: block;
  width: $width;
  height: $height;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 7px;
}